<h2>Sign up</h2>
<div class="user_forms">
<%= form_for @user do |f| %>
<p>
	<%= f.label :username %>
	<%= f.text_field :username, class: "input_area" %>
</p>
<p>
	<%= f.label "First Name" %>
	<%= f.text_field :fname, class: "input_area" %>
</p>
<p>
	<%= f.label :email %>
	<%= f.text_field :email, class: "input_area" %>
</p>
<p>
	<%= f.label :password %>
	<%= f.text_field :password, class: "input_area" %>
</p>
<p class="profile">
	<%= f.label :bio %>
	<%= f.text_area :bio, class: "input_bio_area" %>
</p>
<%= f.submit "Create Account", class: "submit_btn" %>
<% end %>
</div>