<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>



<% if @user %>
	<p>
		You are logged in! Hi <%= @user.fname %>
	</p>

	<p>Bio: <%= @user.bio %></p>

<p>
<%= link_to("delete", user_path(@user.id), method: :delete)%>
</p>

<p>
	<%= link_to("edit", edit_user_path(@user.id)) %>
</p>
<% else %>
	<p>
		Sorry I don't know who you are. Please <%= link_to "login", sessions_new_path %>.
	</p>
<% end %>

